.upload-wrapper {
  border: 1px dashed $grey-50;
  border-radius: 4px;
  padding: 32px 24px;
  position: relative;
  .upload-box{
    display: flex;
    align-items: center;
    justify-content: center;
    p {
      margin:0 0 0 10px;
      font-size: 0.8125rem;
    }
    .btn {
      font-size: 0.8125rem;
      .ico {
        vertical-align: -1px;
      }
    }
    .upload-input {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      outline: none;
      opacity: 0;
      cursor: pointer;
    }
  }
  &:hover,
  &:focus{
    border-color: $blue-10;
    .btn {
      border-color:$blue-10;
    }
  }
}
.uploaded-file-preview{
  .title{
    color:$grey-20;
    font-size: 0.875em;
    margin:12px 0 8px 0;
    text-align: left;
  }
}
.uploaded-file-holder{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border:1px solid $grey-50;
  background-color: $white-20;
  padding:8px;
  .title {
    margin:0;
    color: $black-10;
    font-size: 0.8125em;
  }
  .btn{
    width: 14px;
    height: 14px;
    color: $grey-40;
    .ico {
      font-size: 0.8125em;
      vertical-align: 6px;
    }
    &:hover,
    &:focus{
      color: $blue-10;
    }
  }
}
